<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sn">
        <h5 class="my-0 nr-md-auto font-weight-normal">Weather mood</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Home</a>
            <a class="p-2 text-dark" href="#">Information</a>
            <a class="p-2 text-dark" href="#">Support</a>
        </nav>
        <a class="btn-btn-outline-primary" href="#">About us</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5 offset-2">
                <h1>Weather in your city</h1>
                <form action="">
                    <label for="city">City:</label>
                    <input type="text" id="city" class="form-control" name="city"
                     placeholder="Select city">
                    <input type="submit" name="send" value="Confirm" class="mt-2 btn btn-success">
                </form>
            </div>
            <div class="col-5 offset-2">
                <h1>Weather:</h1>
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-8">
                    <b>City:</b> {{ info.city }}<br>
                    <b>Temperature:</b> {{ info.temp }}<sup>o</sup><br>
                    <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Logo weather" class="img-thumbnail">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</body>
</html>
